extends layout

block content
  h1= title
  h1.map
    a(class='open-map', href='http://poke.shimi.io') פתח מפה
  br
  .form
    input(id='text',type='text',value='', placeholder="הכנס כתובת או מיקום",name='name', class="location-text")
    .button(id="submitButton", onclick="onSubmitForm()")
      p שלח
  br
  ul
    each location, key in locations
      h3
        a(href='/location?location=#{location}') #{key}
        br
        br

    br
    script(type='text/javascript', src='http://counter10.01counter.com/private/counter.js?c=e70fadd7fa45700d519b273caf246401')
