extends layout

block content
  h1= title
  h1.map
    a(class='open-map', href='http://poke.shimi.io') פתח מפה
  br
  div
   form(name="locationForm", method='post')
    input(id='text',type='text',value='', placeholder="הכנס כתובת",name='name', class="location-text")
    .button(onclick="onSubmitForm()")
      p
        שלח
  br
  ul
    each location, key in locations
      h3
        a(href='/location?location=#{location}') #{key}
        br
        br
