doctype html
html
  head
    title= title
    script(src='../javascripts/locationHandler.js')
    script(src='../javascripts/jquery-3.1.0.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
