extends layout

block content
  .wrong
    #{details}
  br
  h1
    רוצה מפת פוקימונים? הכנס סיסמא
  br
  form(name="locationForm", method="post", action="/login")
    input(id='text',type='text',value='', class="login-input", placeholder="Enter password",name='name')
    button(class="btn") כנס

  br
  script(type='text/javascript', src='http://counter10.01counter.com/private/counter.js?c=e70fadd7fa45700d519b273caf246401')
